@font-face {
  font-family: 'open-sans-light';
  src:url('../fonts/OpenSansLight/OpenSansLight.ttf');
}

@font-face {
  font-family: 'Roboto-Medium';
  src:url('../fonts/roboto/medium/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto-Light';
  src:url('../fonts/roboto/light/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto-Bold';
  src:url('../fonts/roboto/bold/Roboto-Bold.ttf');
}


@font-face {
  font-family: 'Poboto-MediumItalic';
  src:url('../fonts/roboto/MediumItalic/Roboto-MediumItalic.ttf');
}

@font-face {
  font-family: "MyriadProRegular";
  src:url('../fonts/MyriadPro/regular/MyriadProRegular.ttf');
}

@font-face {
  font-family: "PTsans-Italic";
  src:url('../fonts/PTsana/italic/PTsans-Italic.ttf');
}