.btn-box {
  padding: 5px 0 4px 6px;
    &__btn-elem {
      font-size: 13px;
      padding: 5px 33px 4px 31px;
      text-transform: uppercase;
      background-color: #d7252b;
      color:#fff;
      @media (min-width: 500px) {
        font-size: 11px;
        padding: 5px 5px 4px 5px;
      }
      &:hover {
        background-color: #fc0b24;
        transition: background-color ease-in-out 2s00ms;
      }
      &:active {
        background-color: #970b1b;
        transition: background-color ease-out 300ms;
      }
        @media (min-width: 605px) {
          padding: 5px 20px 4px 20px;
        }
        @media (min-width: 575px) {
          padding: 5px 15px 4px 15px;
        }
        @media (min-width: 543px) {
          padding: 5px 10px 4px 10px;
          font-size: 13px;
        }
        @media (min-width: 980px) {
          padding: 5px 33px 4px 31px;
        }

    }
}

.btn-padding-left {
  padding-left: 12px;
}