.img-box {
  margin: 0 auto;
  position: relative;
}
.img-box {
    &_item-mod-1 {
      max-width: 210px;
      max-height: 201px;
        @media (min-width: 500px) {
          max-width: 150px;
        }
        @media (min-width: 570px) {
          max-width: 170px;
        }
        @media (min-width: 650px) {
          max-width: 195px;
        }
        @media (min-width: 890px) {
          max-width: 180px;
        }
      @media (min-width: 950px) {
        max-width: 210px;
      }
    }
    &_item-mod-2 {
      max-width: 290px;
      max-height: 247px;
      margin-bottom: 6px;
        @media (min-width: 360px) {
          max-width: 331px;
        }
        @media (min-width: 400px) {
          max-width: 365px;
        }
        @media (min-width: 500px) {
          max-width: 304px;
        }
        @media (min-width: 650px) {
          max-width: 404px;
        }
        @media (min-width: 852px) {
          max-width: 378px;
        }
      @media (min-width: 950px) {
        max-width: 432px;
      }
    }
}
.images {
  width: 100%;
  height: 100%;
}
