.logo {
  font-family: $OpenSansLight;
  text-transform: uppercase;
  color: #000;
  font-size: 30px;
}

.logo-footer{
  padding-left: 6px;
}
.logo-header {
  float: none;
  width: 221px;
  margin: 21px auto 22px;
  @media (min-width: 700px) {
    float: left;
    width: 221px;
    margin: 21px 0 10px 22px;
  }

}

.logo-color {
  color: #000;
}